    #pane {
        -fx-background-image: url(http://media.moddb.com/images/downloads/1/58/57430/Uchiha-Madara-edo-tensei.jpg);
        -fx-background-position: center;
        -fx-background-size: 400 400;
    }